<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>IACL - Imperial Assault Campaign Logger</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/main.ctrl.js"></script>
</head>
<body ng-app="iaclApp" ng-controller="MainController as main">
<div class="container">
    <h1>{{main.title}}</h1>

    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="main.searchInput">
    </div>
    Order: <select class="form-control pull-right" ng-model="main.order"
                   ng-options="order as order.title for order in main.orders"></select>


    <h3>Choose up to 4 heroes</h3>
    <ul class="list-inline">
        <li ng-repeat="hero in main.heroes  | filter:main.searchInput | orderBy:main.order.key:main.order.reverse">
            <img ng-src="{{hero.images.portrait}}"/>
            <h4>{{hero.name}}</h4>
            <span class="label label-default">{{hero.wave}}</span></li>
    </ul>

    <h3>Add a new Hero</h3>

    <form name="main.addForm" class="form" ng-submit="main.addHero()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="main.newHero.name" required/>
        </div>
        <div class="form-group">
            <label>Wave</label>
            <input type="text" class="form-control" ng-model="main.newHero.wave" required/>
        </div>
        <div class="form-group">
            <label>Image-URL</label>
            <input type="text" class="form-control" ng-model="main.newHero.image" required/>
        </div>
        <button class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
    </form>
</div>
</body>
</html>